# =========================
# DATA (DO NOT TRACK)
# =========================
data/

# =========================
# R FILES
# =========================
.Rhistory
.RData
.Rproj.user/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/
